.petDashboard {
  display: flex;
  border: 3px blue solid;
  justify-content: space-between;
}
.userPetCard {
  border: 2px red dotted;
}
.petCard {
  border: 2px purple dashed;
}

/* .symptoms {
  border: 2px goldenrod dotted;
} */

.medRecords {
  border: 2px aqua dashed;
}
.vetInfo {
  border: 2px green dotted;
}
.addPet {
  text-align: center;
  font-size: large;
}
.petForm {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: #f7f7f7;
}
.addPet h1 {
  background: #12014d;
  padding: 20px 0;
  font-size: 200%;
  font-weight: 500;
  text-align: center;
  color: #7ed957;
  margin: -16px -16px 16px -16px;
}
.petForm input[type="text"],
.petForm input[type="date"],
.petForm input[type="datetime"],
.petForm input[type="email"],
.petForm input[type="number"],
.petForm input[type="search"],
.petForm input[type="time"],
.petForm input[type="url"],
.petForm textarea,
.petForm select {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}
.petForm input[type="text"]:focus,
.petForm input[type="date"]:focus,
.petForm input[type="datetime"]:focus,
.petForm input[type="email"]:focus,
.petForm input[type="number"]:focus,
.petForm input[type="search"]:focus,
.petForm input[type="time"]:focus,
.petForm input[type="url"]:focus,
.petForm textarea:focus,
.petForm select:focus {
  box-shadow: 0 0 5px #12014d;
  padding: 3%;
  border: 1px solid #12014d;
}

.petForm input[type="submit"],
.petForm input[type="button"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #12014d;
  border-bottom: 2px solid #30c29e;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}
.petForm input[type="submit"]:hover,
.petForm input[type="button"]:hover {
  background: #2ebc99;
}
