@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.petDashboard {
  display: flex;
  justify-content: space-between;
}
.userPetCard {
  font: "Josefin", sans-serif;
  font-weight: 500;
  font-size: 16px;
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
  background: #eaffe1;
  border-radius: 10%;
  box-shadow: 6px 6px 6px #12014d;
  border: 4px #12014d;
  text-align: center;
}
.addPetButton {
  margin: auto;
  text-align: center;
}
.addVetButton {
  margin: auto;
  text-align: center;
}
.petCard {
  font: "Josefin", sans-serif;
  font-weight: 500;
  font-size: 16px;
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
  background: #eaffe1;
  border-radius: 10%;
  box-shadow: 6px 6px 6px #12014d;
  border: 4px #12014d;
}

.detailSymptoms {
  font: "Josefin", sans-serif;
  font-weight: 500;
  font-size: 16px;
  min-width: 300px;
  margin: 10px auto;
  padding: 20px;
  background: #eaffe1;
  border-radius: 10%;
  box-shadow: 6px 6px 6px #12014d;
  text-align: left;
  justify-content: center;
  align-content: center;
}
.petCard img {
  border-radius: 8%;
}
.symptomCard {
  font: "Josefin", sans-serif;
  max-width: 200px;
  margin: 10px auto;
  padding: 16px;
  background: #f7f7f7;
  border: 2px solid #12014d;
}

.medRecords {
  font: "Josefin", sans-serif;
  font-weight: 500;
  font-size: 16px;
  min-width: 300px;
  margin: 10px auto;
  padding: 20px;
  background: #eaffe1;
  border-radius: 10%;
  box-shadow: 6px 6px 6px #12014d;
  text-align: left;
  justify-content: center;
  align-content: center;
}
.recordCard {
  font: "Josefin", sans-serif;
  max-width: 200px;
  margin: 10px auto;
  padding: 16px;
  background: #f7f7f7;
  border: 2px solid #12014d;
}
.vetCard {
  font: "Josefin", sans-serif;
  max-width: 200px;
  margin: 10px auto;
  padding: 10px;
  background: #f7f7f7;
  border: 2px solid #12014d;
}
.vetInfo {
  font: "Josefin", sans-serif;
  font-weight: 500;
  font-size: 16px;
  min-width: 300px;
  margin: 10px auto;
  padding: 20px;
  background: #eaffe1;
  border-radius: 10%;
  box-shadow: 6px 6px 6px #12014d;
  text-align: left;
  justify-content: center;
  align-content: center;
}
.addPet {
  text-align: center;
  font-size: large;
}
.petForm {
  font: "Josefin", sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: #f7f7f7;
}
.petDashboard h3 {
  align-self: center;
  background: #12014d;
  padding: 5px 0;
  font-family: "Josefin", sans-serif;
  font-size: 200%;
  font-weight: 500;
  text-align: center;
  max-width: 250px;
  color: #7ed957;
  margin: 25px 25px 25px 25px;
}
.addPet h1 {
  background: #12014d;
  margin: auto;
  padding: 20px 0;
  font-family: "Josefin", sans-serif;
  font-size: 200%;
  font-weight: 500;
  text-align: center;
  color: #7ed957;
  margin: auto;
}
.petForm input[type="text"],
.petForm input[type="date"],
.petForm input[type="datetime"],
.petForm input[type="email"],
.petForm input[type="number"],
.petForm input[type="search"],
.petForm input[type="time"],
.petForm input[type="url"],
.petForm textarea,
.petForm select {
  transition: all;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #12014d;
  font: 95% Arial, Helvetica, sans-serif;
}
.petForm input[type="text"]:focus,
.petForm input[type="date"]:focus,
.petForm input[type="datetime"]:focus,
.petForm input[type="email"]:focus,
.petForm input[type="number"]:focus,
.petForm input[type="search"]:focus,
.petForm input[type="time"]:focus,
.petForm input[type="url"]:focus,
.petForm textarea:focus,
.petForm select:focus {
  box-shadow: 0 0 5px #12014d;
  padding: 3%;
  border: 1px solid #12014d;
}

.petForm input[type="submit"],
.petForm input[type="button"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #12014d;
  border-bottom: 2px solid #30c29e;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #7ed957;
}
.petForm input[type="submit"]:hover,
.petForm input[type="button"]:hover {
  background: #7ed957;
}
