@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  padding: 2em;
  background-color: #eaffe1;
  background-image: url(PupdateBackground-2.png);
  background-position-x: center;
  color: #12014d;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.5;
  font-family: "Josefin", sans-serif;
}
button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Josefin", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #7ed957;
  background-color: #12014d;
  text-align: center;
  transition: all 0.2s;
}
strong {
  font-weight: bold;
}
.logo {
  width: 150px;
  border-radius: 100%;
}
